.logo-pic {
  display: inline-block;
      text-align: left;
    margin-right: 30%;
}
.navbar {
    background-color: white;
    display: flex;
      align-items: center;
      justify-content: flex-end;
  }
 
  .navbar ul {
    list-style-type: none;
 margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 30px;
    font-family: Montserrat;
    padding: 10px;
    
  }
  
  .navbar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  .navbar a:hover {
    color: rgb(42, 227, 252);
  }
  h2{
    text-align: center;
    font-weight: lighter;
    font-family: Montserrat;
  }
  p{
    text-align: center;
    font-family: Montserrat;
    
  }
  .first-table {
    border-collapse: collapse;
}
.first-table td {
    
  text-align: justify;
  padding: 10px;
  font-family: Montserrat;
}
b{  font-size: large;
    font-weight: normal;
    
}

.mid-navbar {
  background-color: white;
  text-align: center;

}

.mid-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.mid-navbar li {
  display: inline-block;
  
  font-family: Montserrat;
  
}

.mid-navbar a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.mid-navbar a:hover {
  color: rgb(43, 191, 228);
}
.second-table {
  border-collapse: collapse;
}
.second-table td {
  margin-left: 50%;
  text-align: center;
  font-family: Montserrat;
  font-weight: normal;
}

.sofa2-img{
  width: 100%;
  height: 80vh;
            background-image: url('images/xn3.png');
            background-size: cover;
            background-position: center;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            
}
.sofe2-img:hover {
  background-color: #0e0be0;
}


.sofa2-img table{
  background-color: white;
  border-collapse: collapse;
  text-align: left;
  font-family: Montserrat;
  
}
.user-img{
  margin-top: 10px;
  width: 5%;
  float: left;
  margin-right: 30px;
}
.table-container {
  display: inline-block;
            padding: 50px;
            
            
}

.table-container table {
  width: 100%;
  
}
           

.table-container td{
  padding: 10px;
            text-align: center;
            border: 1px solid black;
          
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgb(22, 22, 22);
}

.left-column {
  margin-top: 80px;
  width: 15%;
  color: white;
 
}
.left-column p{
  text-align: left;
  margin-left: 10%;
  color: rgb(121, 116, 116);

}

.mid-column {
  width: 60%;
  color:rgb(22, 22, 22) ;
  margin-top: 80px;
}
.mid-column h2{
  margin-right: 60%;
}
.mid-column p{
  margin-right: 15%;
}
.right-column {
  width: 30%;
  color: white;
  margin-top: 80px;
}
.right-column h2{
  margin-right: 100px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  color: white;
 
}
.newsletter p{
  color: rgb(121, 116, 116);
}


.newsletter input[type="email"] {
  padding: 10px 30px;
  margin-right:270px;
  width: 30%; 
  border-radius: 20px;
 
  font-family: Montserrat;
}

.newsletter button {
  padding: 10px 30px;
  background-color: #1696c9;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 5px;
  font-family: Montserrat;
  font-weight: bold;
  
}

.instagram-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 100px;
}


.instagram-feed img {
 width: 23%;
      margin-bottom: 10px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(22, 22, 22);
    padding: 10px;
  }
  
  .footer p {
    color: #9b9494;
    margin-left: 30PX;
    margin-top: 50PX;
  }
  
  .social-media-buttons {
    display: flex;
  }
  
  .social-media-buttons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 40px;
    background-color: #000;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    margin-top: 10px;
  }
  
  .social-media-buttons a.facebook {
    background-color: #000000;
    margin-left: 50px;
  }
  
  .social-media-buttons a.instagram {
    background-color: #000000;
    margin-left: 10px;
  }
  
  .social-media-buttons a.twitter {
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
  }
  
  .social-media-buttons a.linkedin {
    background-color: #000000;
    margin-left: 10px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .top-table{
    margin: 0;
    border-collapse: collapse;
  }
  .header-table {
    width: 100%;
    border-collapse: collapse;
  }

  .header-table td {
    padding: 10px;
    border: 1px solid #000;
    font-family: Montserrat;
  }

  .column-1 {
    width: 10%;
    cursor: pointer;
  }

  .column-2 {
    width: 80%;
    text-align: right;
  }
.social-buttons{
 padding: 5px 30px ;
  font-size: 20px;
}
  .column-3 {
    width: 10%;
    text-align: center;
    cursor: pointer;
  }
  .progress-circle{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(rgb(112, 109, 109) var(--progress), rgb(255, 255, 255) 0deg);
    font-size: 0;
    margin-left: 50px;
  
   

  }
  .loading-circle{
    background-color: #000;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #000;
 
  }
  
 
  .progress-circle::after {
    content: attr(data-progress) ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    border-radius: 50%;
    background: white;
    font-size: 1rem;
    text-align: center;
    
  }